fastapi
uvicorn[standard]
SQLAlchemy
pyodbc
python-dotenv
langchain-openai
langchain-community
langchain-core
azure-monitor-opentelemetry
opentelemetry-instrumentation-langchain
requests
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4
email-validator
redis
