name: Build and deploy frontend to Azure Static Web Apps - LABY-FRONTEND

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build and deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "chemical-sample-dashboard"
          output_location: "out"
          app_build_command: "npm run build"
        env:
          NEXT_PUBLIC_API_BASE_URL: https://laby-backend-hcfud7b5gxfqd6cx.koreacentral-01.azurewebsites.net
